<!DOCTYPE html >
<html
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

<th:block layout:fragment="content">
    <h2>Book List</h2> <br/>
    <a href="/homeApp">Create a Book</a>
    <table class="table table-striped">
        <thead>
        <th>Title</th>
        <th>book_price</th>
        <th> author's Name</th>

        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.fee}"></td>
            <td th:text="${book.author}"></td>

        </tr>
        </tbody>
    </table>
</th:block>

<th:block layout:fragment="footer">
</th:block>

</body>
</html>

